* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background{
    width:100vw;
    height:100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1{
    width:320px;
    height:497px;
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    text-align:center;
}
#qrcode{
    align-self: flex-start;
    height: 288px;
    width: 288px;
    border-radius: 12px;
}
#first{
    padding: 30px 0px 30px 0px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #1f3251;
    text-align: center;
}
p {
    font-weight: 400;
    font-size: 0.9375rem;
    color: #171c24;
    text-align: center;
}